<div class="dsw-rounded-panel">

    <div class="input-group" xmlns="http://www.w3.org/1999/html">
      <input id="projects-filter" placeholder="Start typing project name..." type="text" class="form-control">
    <span class="input-group-addon">
        <div class="glyphicon glyphicon-search"></div>
    </span>
      </input>
    </div>

<br>
<br>

  <div>
    <ul id="nav-tabs" class="nav nav-tabs nav-justified">
      <li id="my-projects" style="cursor: pointer;"><a>My projects</a></li>
      <li id="all-projects" class="active" style="cursor: pointer;"><a>All projects</a></li>
    </ul>

    <table class="table table-hover table-bordered">
      <tbody id="projects-list"></tbody>
    </table>

  </div>
</div>
