<div class="panel panel-default panel-console">
  <div class="panel-heading panel-heading-console">
    <div class="pull-right">
      <button id="clear-console" class="btn btn-default btn-xs ">Clear</button>
      <button class="btn btn-default btn-xs" id="show-hide">Hide</button>
    </div> <!--pull-right-->
    <div id="tabs-container">
    </div>
  </div> <!--panel-heading-->
  <div class="panel-body messages-container">
    <div class="messages pre-scrollable pre-scrollable-console" id="messages"></div>
  </div> <!--panel-body-->
</div> <!--panel-->
