<thead>
  <tr>
    <td colspan=5>
      <button class="btn fetchCollection btn-default">
        <i class="glyphicon glyphicon-refresh"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan=5>
      <ul class="nav nav-pills">
        <li class="pill-openstack active"><a href="javascript:void(0)">OpenStack</a></li>
        <li class="pill-ec2"><a href="javascript:void(0)">EC2</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>id</th>
    <th>ram</th>
    <th>disk</th>
    <th>cores</th>
    <th>name</th>
  </tr>
</thead>
<tbody id="servers-cont">
</tbody>
