node_modules
temp
dist
.sass-cache
app/y
.tmp/

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

*.min.css
*.min.js
config/devops_server_config.yml
config/config.yml
pushit.sh
.project
.settings

public/js/libs

Gemfile.lock

.gitmodules
lib/env
.idea
public/env
bower_components
.projectile
