<div class="modal-dialog">
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Delete project </h3>
    <h4>You're about to delete project <b>{{id}}</b> permanently. Are you sure?</h4>
    <p>
      <button type="button" class="btn btn-danger" id="execute" data-loading-text="Please wait...">Delete</button>
      <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </p>
  </div> <!--alert-->
</div><!-- /.modal-dialog -->
