<div class="col-md-2 col-xs-3 sidebar">
  <ul class="nav nav-sidebar">
    <li class="navlink"><a href="#admin" data-resource="overview">Overview</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a class="navlink" href="#admin/images" data-resource="images">Images</a></li>
    <li><a class="navlink" href="#admin/projects" data-resource="projects">Projects</a></li>
    <li><a class="navlink" href="#admin/servers" data-resource="servers">Servers</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a class="navlink" href="#admin/flavors" data-resource="flavors">Flavors</a></li>
    <li><a class="navlink" href="#admin/groups" data-resource="groups">Groups</a></li>
    <li><a class="navlink" href="#admin/users" data-resource="users">Users</a></li>
    <li><a class="navlink" href="#admin/networks" data-resource="networks">Networks</a></li>
    <li><a class="navlink" href="#admin/keys" data-resource="keys">Keys</a></li>
    <li><a class="navlink" href="#admin/scripts" data-resource="scripts">Scripts</a></li>
  </ul>
</div>

<div class="col-md-10 col-xs-9" id="main">
  <div class="table-responsive" id="table">
  </div>
</div>
