<thead>
  <tr>
    <td colspan=2>
      <button class="btn fetchCollection btn-default">
        <i class="glyphicon glyphicon-refresh"></i>
      </button>
      <button class="btn openCreateDialog btn-success">Create </button>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <ul class="nav nav-pills">
        <li class="active pill-common"><a href="javascript:void(0)">Common</a></li>
        <li class="pill-openstack"><a href="javascript:void(0)">Openstack</a></li>
        <li class="pill-chef"><a href="javascript:void(0)">Chef</a></li>
        <li class="pill-ec2"><a href="javascript:void(0)">EC2</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>ServerName</th>
    <th>ID</th>
  </tr>
</thead>
<tbody id="servers-cont">
</tbody>
