<div class="container container-fluid">
  <form class="form-horizontal" id="properties">
    <div class="form-group">
      <label class="control-label col-sm-2 text-left" >Project</label>
      <div class="col-lg-8">
        <input name="name" class="form-control" value="{{project_id}}" type='text' readonly>
      </div>
    </div>
    <div class='env-properties col-lg-10'></div>
    <div class="col-lg-8" style="margin-top: 10px">
      <button type="button" class="pull-left btn btn-primary save-envs-button" >Save changes</button>
    </div>
  </form>
</div>
