<div class='panel panel-default env-properties'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <a href="#collapse-env-{{viewCid}}" data-toggle="collapse"><strong>{{identifier}}</strong></a>
      <a class="pull-right" data-toggle="collapse" href="#collapse-env-{{viewCid}}" id="show-env">Details</a></span>
    </div>

      <div class="clearfix"></div>
  </div>
  <div id="collapse-env-{{viewCid}}" class="panel-collapse dsw-collapse-panel-{{viewCid}}">
    <div class='panel-body deploy-env-properties'>
    </div>
    <div class="panel-footer">
      <button class='btn btn-default pull-right delete-env'>
        Delete
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <div class="clearfix"></div>
  </div>

  </div>
    <div class="panel-footer">
      <div class="clearfix"></div>
  </div>


</div>
