<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Run script</h3>
        </div>
        <!--modal-header-->
        <div class="modal-body">
            <ul class="list-group" id="script-list">
            </ul>


          <ul class="list-group">
            <li class="list-group-item">
              <input id="script-params" type="text" class="form-control" placeholder="Comma-separated parameters">
            </li>
          </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="run-script" data-loading-text="Please wait..."
                    class="btn btn-primary">Run script
            </button>
        </div>
    </div>
</div>
