<thead>
  <tr>
    <td colspan=3>
      <button class="btn fetchCollection btn-default">
        <i class="glyphicon glyphicon-refresh"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan=3>
      <ul class="nav nav-pills">
        <li class="active pill-openstack"><a href="javascript:void(0)">OpenStack</a></li>
        <li class="pill-ec2"><a href="javascript:void(0)">EC2</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <th>CIDR</th>
    <th>ID</th>
  </tr>
</thead>
<tbody id="images-cont">
</tbody>
