<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title">Launch started!<br> <small>Server launch process started, please select report format</small></h3>
    </div><!--modal-header-->
    <div class="modal-body">
      <a href="{{url}}" target="_blank" id="report-link">Open report in new tab</a>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
